
<div class="col-sm-offset-2 col-sm-8">
<br>
<br>
<br>
<br>
<div class="row">
  <div class='col-sm-9'>
       <h3 class='text-center'>Search the Zinoplex Network</h3>
       <br>
  </div>
</div>
{#<form class="form-horizontal" id="searchform">#}
{#    {% csrf_token %}#}
  <div class="form-group">
    <div class='col-sm-9'>
      <input class="typeahead form-control col-sm-9" type="text" name="search" id="search">
    </div>
    <div class="col-sm-3">
      <input id='searchbtn' type='submit' value='Search' class="btn btn-primary">
    </div>
  </div>
{#</form>#}
</div>
